@import "styles";

.header {
  padding: 2 * $space-unit;
  border-bottom: 1px solid $color-grey-50;

  .icon {
    width: 110px;
    fill: $color-blue-50;
    margin-right: 4 * $space-unit;
  }
}

.navbar {
  display: flex;
  align-items: center;
}
