// swapfiets color variables

// brand colors
$color-blue-50: #00a9e0;
$color-blue-75: #01aeed;
$color-blue-100: #0a3867;
$color-orange-50: #ff9649;
$color-yellow-50: #faf2e0;
$color-yellow-100: #ffb600;
$color-green-50: #69edb0;
$color-green-100: #2ddea9;
$color-red-50: #ea6654;

//  greyscale
$color-white: #fff;
$color-grey-50: #f8f9f9;
$color-grey-100: #dfdfdf;
$color-grey-200: #d8d8d8;
$color-grey-300: #a6a6a6;
$color-black-50: #2e2e2e;
$color-black-100: #000;

// alerts
$color-danger: #ef5564;
$color-warning: #fea106;
$color-success: #28a745;
$color-info: #17a2b8;
