@import "styles";

.list {
  display: inline-flex;

  li {
    list-style: none;
    padding: $space-unit;
  }

  a {
    font-weight: 700;
    text-decoration: none;
    color: $color-black-100;

    &:hover {
      color: $color-blue-50;
    }
  }
}
